@font-face {
    font-family: CursedTimer;
    src: url(cursedtimer.ttf);
}

.outer-container {
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    width: 575px;
    height: 385px;
    display: flex;
    justify-content: space-around;
    background: #1B244A;
}



.inner-columns {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    color: #EEE;
    text-align: center;
    vertical-align: auto;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.893px; /* 89.732% */
}

.score-boxes {
    width: 155px;
    height: 120px;
    flex-shrink: 0;
    background: #080001;
    color: #F94F6D;
    font-family: "CursedTimer";
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 135px; /* 140.74% */
}

.button-box {
    margin-top: 35;
}

.button-style {
    border-radius: 5px;
    border: 2px solid #9AABD8;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background: #1B244A;
    color: #9AABD8;
    font-family: "CursedTimer";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 7%;
}

.new-game-box {
    margin-top: 5%;
}

.new-game-style {
    margin: auto;
    vertical-align: center;
    display: flex;
    position: relative;
    flex-shrink: 0;
    background: green;
    color: yellow;
    justify-content: space-around;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    width: 60px;
    height: 25px;
    font-family: Verdana;
}

.remaining-time-box {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    color: palevioletred;
    font-family: Verdana;
    font-size: 40px;
    font-style: normal;
}